<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台灣水庫近期蓄水量圖</title>
    <!-- libraries-->
    <meta property="og:locale" content="zh_TW">
    <meta property="og:image" content="http://data.infographics.tw/viz/reservoir/thumbnail.jpg">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://data.infographics.tw/viz/reservoir/">
    <meta property="og:title" content="台灣水庫近期蓄水量圖">
    <meta property="og:description" content="當下及近三個月的台灣水庫蓄水率走勢圖以及剩餘用量簡易預估 ... ">
    <link rel="icon" type="image/x-icon" href="http://data.infographics.tw/viz/reservoir/loading.gif">
    <script type="text/javascript" src="//codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="bower_components/textures/textures.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-app="main" ng-controller="main">
    <div id="root">
      <div class="fb-box pull-right">
        <div data-href="https://www.facebook.com/data.visualize" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false" class="fb-like-box"></div><br>
      </div>
      <h2><img src="loading.gif">台灣水庫近期蓄水量圖</h2>
      <div class="desc">
        當下及近三個月的水庫蓄水率走勢。剩餘週數取七日內用水量平均除當前蓄水量來預估，若近期波動大會失準，因此有排除波動數據，同時預測僅供參考。
        資料來源：<a href="http://fhy.wra.gov.tw/ReservoirPage_2011/StorageCapacity.aspx">經濟部水利署</a>&nbsp;/&nbsp;<a href="http://github.com/infographicstw/reservoir-history-crawler">資料截取程式</a>
      </div>
      <hr>
      <div class="pull-right">
        <div data-href="http://data.infographics.tw/viz/reservoir/" data-width="300" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" class="fb-like"></div>
      </div>
      <div class="reservoir-type">
        <h3>水情告急的主要水庫</h3>
        <div ng-show="loading.exigency" class="loading"><img src="loading.gif">loading</div>
        <div ng-repeat="res in exigency" class="reservoir">
          <div class="pictochart">
            <svg width="220px" height="300px" viewBox="0 0 240 320" preserveAspectRatio="xMidYMid">
              <path d="M40 270 L120 310 L120 60 L40 30Z" fill="rgba(0,0,0,0.5)"></path>
              <path d="M200 270 L120 310 L120 60 L200 30Z" fill="rgba(0,0,0,0.3)"></path>
              <path d="M40 30 L120 60 L200 30 L120 0Z" fill="rgba(0,0,0,0.1)"></path>
              <path ng-attr-d="M60 260 L120 290 L120 {{res.bottom}} L60 {{res.side}}Z" ng-attr-fill="{{res.color}}" style="opacity: 0.8"></path>
              <path ng-attr-d="M180 260 L120 290 L120 {{res.bottom}} L180 {{res.side}}Z" ng-attr-fill="{{res.color}}" style="opacity:0.7"></path>
              <path ng-attr-d="M60 {{res.side}} L120 {{res.bottom}} L120 {{res.top}}Z" ng-attr-fill="{{res.color}}" style="opacity:0.6"></path>
              <path ng-attr-d="M180 {{res.side}} L120 {{res.bottom}} L120 {{res.top}}Z" ng-attr-fill="{{res.color}}" style="opacity:0.5"></path>
              <text ng-if="res.percent&lt;0" x="120" y="120" style="font-weight:900;font-size:40px" dx="-20" dy="20" fill="rgba(0,0,0,0.5)">?</text>
            </svg>
          </div>
          <div class="title">{{res.name}}<small>
              當前蓄水量 {{res.volume}}M 
              (m<sup>3</sup>)</small><small ng-if="res.percent&gt;=0">&nbsp;/ 目前蓄水率 {{res.percent}}%</small><small ng-if="res.percent&lt;0">&nbsp;/ 無目前蓄水率資料</small></div>
          <div class="line-chart">
            <svg width="600px" height="200px" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid">
              <text x="2" y="0" fill="#444" font-size="20">近期水量走勢 (%)</text>
              <line x1="0" x2="765" y1="175" y2="175" stroke-width="2" stroke="#ccc"></line>
              <line x1="0" x2="765" y1="5" y2="5" stroke-width="2" stroke="#ccc"></line>
              <line x1="0" x2="765" y1="141" y2="141" stroke-width="2" stroke="#f00" stroke-dasharray="4 4"></line>
              <text x="770" y="141" text-anchor="start" dominant-baseline="central" fill="#f00">20%</text>
              <text x="765" y="198" text-anchor="end" fill="#444">{{res.end}}</text>
              <text x="2" y="198" text-anchor="start" fill="#444">{{res.start}}</text>
              <line ng-repeat="link in res.link" ng-attr-x1="{{link[0]}}" ng-attr-x2="{{link[1]}}" ng-attr-y1="{{link[2]}}" ng-attr-y2="{{link[3]}}" stroke="#000" stroke-width="2"></line>
            </svg>
          </div>
          <div ng-if="res.remains &lt;= 20 &amp;&amp; res.remains &gt;= 0" class="remains">預估將在<em>{{res.remains}}</em>週後耗盡</div>
        </div>
      </div>
      <div class="reservoir-type">
        <h3>主要水庫</h3>
        <div ng-show="loading.primary" class="loading"><img src="loading.gif">loading</div>
        <div ng-repeat="res in primary" class="reservoir">
          <div class="pictochart">
            <svg width="220px" height="300px" viewBox="0 0 240 320" preserveAspectRatio="xMidYMid">
              <path d="M40 270 L120 310 L120 60 L40 30Z" fill="rgba(0,0,0,0.5)"></path>
              <path d="M200 270 L120 310 L120 60 L200 30Z" fill="rgba(0,0,0,0.3)"></path>
              <path d="M40 30 L120 60 L200 30 L120 0Z" fill="rgba(0,0,0,0.1)"></path>
              <path ng-attr-d="M60 260 L120 290 L120 {{res.bottom}} L60 {{res.side}}Z" ng-attr-fill="{{res.color}}" style="opacity: 0.8"></path>
              <path ng-attr-d="M180 260 L120 290 L120 {{res.bottom}} L180 {{res.side}}Z" ng-attr-fill="{{res.color}}" style="opacity:0.7"></path>
              <path ng-attr-d="M60 {{res.side}} L120 {{res.bottom}} L120 {{res.top}}Z" ng-attr-fill="{{res.color}}" style="opacity:0.6"></path>
              <path ng-attr-d="M180 {{res.side}} L120 {{res.bottom}} L120 {{res.top}}Z" ng-attr-fill="{{res.color}}" style="opacity:0.5"></path>
              <text ng-if="res.percent&lt;0" x="120" y="120" style="font-weight:900;font-size:40px" dx="-20" dy="20" fill="rgba(0,0,0,0.5)">?</text>
            </svg>
          </div>
          <div class="title">{{res.name}}<small>
              當前蓄水量 {{res.volume}}M 
              (m<sup>3</sup>)</small><small ng-if="res.percent&gt;=0">&nbsp;/ 目前蓄水率 {{res.percent}}%</small><small ng-if="res.percent&lt;0">&nbsp;/ 無目前蓄水率資料</small></div>
          <div class="line-chart">
            <svg width="600px" height="200px" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid">
              <text x="2" y="0" fill="#444" font-size="20">近期水量走勢 (%)</text>
              <line x1="0" x2="765" y1="175" y2="175" stroke-width="2" stroke="#ccc"></line>
              <line x1="0" x2="765" y1="5" y2="5" stroke-width="2" stroke="#ccc"></line>
              <line x1="0" x2="765" y1="141" y2="141" stroke-width="2" stroke="#f00" stroke-dasharray="4 4"></line>
              <text x="770" y="141" text-anchor="start" dominant-baseline="central" fill="#f00">20%</text>
              <text x="765" y="198" text-anchor="end" fill="#444">{{res.end}}</text>
              <text x="2" y="198" text-anchor="start" fill="#444">{{res.start}}</text>
              <line ng-repeat="link in res.link" ng-attr-x1="{{link[0]}}" ng-attr-x2="{{link[1]}}" ng-attr-y1="{{link[2]}}" ng-attr-y2="{{link[3]}}" stroke="#000" stroke-width="2"></line>
            </svg>
          </div>
          <div ng-if="res.remains &lt;= 20 &amp;&amp; res.remains &gt;= 0" class="remains">預估將在<em>{{res.remains}}</em>週後耗盡</div>
        </div>
      </div>
      <div class="reservoir-type">
        <h3>其它水庫</h3>
        <div ng-show="loading.secondary" class="loading"><img src="loading.gif">loading</div>
        <div ng-repeat="res in secondary" class="reservoir">
          <div class="pictochart">
            <svg width="220px" height="300px" viewBox="0 0 240 320" preserveAspectRatio="xMidYMid">
              <path d="M40 270 L120 310 L120 60 L40 30Z" fill="rgba(0,0,0,0.5)"></path>
              <path d="M200 270 L120 310 L120 60 L200 30Z" fill="rgba(0,0,0,0.3)"></path>
              <path d="M40 30 L120 60 L200 30 L120 0Z" fill="rgba(0,0,0,0.1)"></path>
              <path ng-attr-d="M60 260 L120 290 L120 {{res.bottom}} L60 {{res.side}}Z" ng-attr-fill="{{res.color}}" style="opacity: 0.8"></path>
              <path ng-attr-d="M180 260 L120 290 L120 {{res.bottom}} L180 {{res.side}}Z" ng-attr-fill="{{res.color}}" style="opacity:0.7"></path>
              <path ng-attr-d="M60 {{res.side}} L120 {{res.bottom}} L120 {{res.top}}Z" ng-attr-fill="{{res.color}}" style="opacity:0.6"></path>
              <path ng-attr-d="M180 {{res.side}} L120 {{res.bottom}} L120 {{res.top}}Z" ng-attr-fill="{{res.color}}" style="opacity:0.5"></path>
              <text ng-if="res.percent&lt;0" x="120" y="120" style="font-weight:900;font-size:40px" dx="-20" dy="20" fill="rgba(0,0,0,0.5)">?</text>
            </svg>
          </div>
          <div class="title">{{res.name}}<small>
              當前蓄水量 {{res.volume}}M 
              (m<sup>3</sup>)</small><small ng-if="res.percent&gt;=0">&nbsp;/ 目前蓄水率 {{res.percent}}%</small><small ng-if="res.percent&lt;0">&nbsp;/ 無目前蓄水率資料</small></div>
          <div class="line-chart">
            <svg width="600px" height="200px" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid">
              <text x="2" y="0" fill="#444" font-size="20">近期水量走勢 (%)</text>
              <line x1="0" x2="765" y1="175" y2="175" stroke-width="2" stroke="#ccc"></line>
              <line x1="0" x2="765" y1="5" y2="5" stroke-width="2" stroke="#ccc"></line>
              <line x1="0" x2="765" y1="141" y2="141" stroke-width="2" stroke="#f00" stroke-dasharray="4 4"></line>
              <text x="770" y="141" text-anchor="start" dominant-baseline="central" fill="#f00">20%</text>
              <text x="765" y="198" text-anchor="end" fill="#444">{{res.end}}</text>
              <text x="2" y="198" text-anchor="start" fill="#444">{{res.start}}</text>
              <line ng-repeat="link in res.link" ng-attr-x1="{{link[0]}}" ng-attr-x2="{{link[1]}}" ng-attr-y1="{{link[2]}}" ng-attr-y2="{{link[3]}}" stroke="#000" stroke-width="2"></line>
            </svg>
          </div>
          <div ng-if="res.remains &lt;= 20 &amp;&amp; res.remains &gt;= 0" class="remains">預估將在<em>{{res.remains}}</em>週後耗盡</div>
        </div>
      </div>
      <div class="footer">
        <div class="pull-right">by <a href="http://blog.infographics.tw">infographics.tw</a>, 2015</div><img src="loading.gif" style="width:24px">可愛的水滴圖示是利用 <a href="http://loading.io">loading.io</a> 產生的。
      </div>
    </div>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=1587437048209186&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59333798-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>