@import basic
@import vars

html,body
  margin: 0
  padding: 0
  width: 100%
  height: 100%

#root
  width: 1024px
  padding: 10px 30px
  margin: 20px auto
  font-family: 'century gothic'


.reservoir-type
  clear: both
  margin-bottom: 100px
  h3
    margin-bottom: 20px

.reservoir
  clear: both
  .pictochart
    width: 240px
    height: 320px
    float: left
  .title
    font-size: 2em
    font-weight: 600
    padding-top: 10px
    small
      font-size: 0.5em
      font-weight: 200
  .remains
    text-align: right
    width: 900px
    margin-top: -20px
    em
      font-size: 1.6em
      color: #c00
      margin: 0 5px

