<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台灣水庫近期蓄水量圖</title>
    <!-- libraries-->
    <meta property="og:locale" content="zh_TW">
    <meta property="og:image" content="http://data.infographics.tw/viz/reservoir/thumbnail.jpg">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="578">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://data.infographics.tw/viz/reservoir/">
    <meta property="og:title" content="台灣水庫近期蓄水量圖">
    <meta property="og:description" content="當下及近三個月的水庫蓄水率走勢 / 資料來源：經濟部水利署">
    <link rel="icon" type="image/x-icon" href="http://data.infographics.tw/viz/reservoir/thumbnail.jpg">
    <script type="text/javascript" src="//codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="bower_components/textures/textures.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-app="main" ng-controller="main">
    <div id="root">
      <h2>台灣水庫近期蓄水量圖</h2>
      <div class="desc">當下及近三個月的水庫蓄水率走勢 / 資料來源：<a href="http://fhy.wra.gov.tw/ReservoirPage_2011/StorageCapacity.aspx">經濟部水利署</a></div>
      <hr>
      <div ng-repeat="res in reservoirs" class="reservoir">
        <div class="pictochart">
          <svg width="220px" height="300px" viewBox="0 0 240 320" preserveAspectRatio="xMidYMid">
            <path d="M40 270 L120 310 L120 60 L40 30Z" fill="rgba(0,0,0,0.5)"></path>
            <path d="M200 270 L120 310 L120 60 L200 30Z" fill="rgba(0,0,0,0.3)"></path>
            <path d="M40 30 L120 60 L200 30 L120 0Z" fill="rgba(0,0,0,0.1)"></path>
            <path ng-attr-d="M60 260 L120 290 L120 {{res.bottom}} L60 {{res.side}}Z" ng-attr-fill="{{res.color}}" style="opacity: 0.8"></path>
            <path ng-attr-d="M180 260 L120 290 L120 {{res.bottom}} L180 {{res.side}}Z" ng-attr-fill="{{res.color}}" style="opacity:0.7"></path>
            <path ng-attr-d="M60 {{res.side}} L120 {{res.bottom}} L120 {{res.top}}Z" ng-attr-fill="{{res.color}}" style="opacity:0.6"></path>
            <path ng-attr-d="M180 {{res.side}} L120 {{res.bottom}} L120 {{res.top}}Z" ng-attr-fill="{{res.color}}" style="opacity:0.5"></path>
            <text ng-if="res.percent&lt;0" x="120" y="120" style="font-weight:900;font-size:40px" dx="-20" dy="20" fill="rgba(0,0,0,0.5)">?</text>
          </svg>
        </div>
        <div class="title">{{res.name}}<small>
            當前蓄水量 {{res.volume}}M 
            (m<sup>3</sup>)</small><small ng-if="res.percent&gt;=0">&nbsp;/ 目前蓄水率 {{res.percent}}%</small><small ng-if="res.percent&lt;0">&nbsp;/ 無目前蓄水率資料</small></div>
        <div class="line-chart">
          <svg width="600px" height="200px" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid">
            <text x="2" y="0" fill="#444" font-size="20">近期水量走勢 (%)</text>
            <line x1="0" x2="765" y1="175" y2="175" stroke-width="2" stroke="#ccc"></line>
            <line x1="0" x2="765" y1="5" y2="5" stroke-width="2" stroke="#ccc"></line>
            <line x1="0" x2="765" y1="141" y2="141" stroke-width="2" stroke="#f00" stroke-dasharray="4 4"></line>
            <text x="770" y="141" text-anchor="start" dominant-baseline="central" fill="#f00">20%</text>
            <text x="765" y="198" text-anchor="end" fill="#444">{{res.end}}</text>
            <text x="2" y="198" text-anchor="start" fill="#444">{{res.start}}</text>
            <line ng-repeat="link in res.link" ng-attr-x1="{{link[0]}}" ng-attr-x2="{{link[1]}}" ng-attr-y1="{{link[2]}}" ng-attr-y2="{{link[3]}}" stroke="#000" stroke-width="2"></line>
          </svg>
        </div>
        <div ng-if="res.remains &lt;= 20 &amp;&amp; res.remains &gt;= 0" class="remains">預估將在<em>{{res.remains}}</em>週後耗盡</div>
      </div>
    </div>
  </body>
</html>