html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

#root {
  width: 1024px;
  padding: 10px 30px;
  margin: 20px auto;
  font-family: "century gothic"; }

.reservoir-type {
  clear: both;
  margin-bottom: 100px; }
  .reservoir-type h3 {
    margin-bottom: 20px; }

.reservoir {
  clear: both; }
  .reservoir .pictochart {
    width: 240px;
    height: 320px;
    float: left; }
  .reservoir .title {
    font-size: 2em;
    font-weight: 600;
    padding-top: 10px; }
    .reservoir .title small {
      font-size: 0.5em;
      font-weight: 200; }
  .reservoir .remains {
    text-align: right;
    width: 900px;
    margin-top: -20px; }
    .reservoir .remains em {
      font-size: 1.6em;
      color: #c00;
      margin: 0 5px; }
